section {
  width: 100%;
  position: absolute;
  right: 0;
  top: 5%;
  z-index: -1;
  height: 100svh;
  opacity: 0;
}
.active {
  display: flex;
  opacity: 1;
  z-index: 1;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
}
article {
  margin-top: 2.5%;
  height: 75svh;
  width: 64%;
  background-color: #d9d9d9;
  border-radius: 20px;
}
h1 {
  color: #77008b;
  margin: 30px 20px;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.dataForm {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fuelConditionDiv {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fuelCondition {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.inputDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
h2 {
  text-align: left;
  font-size: 1.2rem;
  color: #1f0523;
  width: 100%;
  font-weight: 400;
  margin-bottom: 10px;
}
label {
  color: #1f0523;
  font-size: 1rem;
  line-height: 19px;
  margin-right: 10px;
}
input {
  border-radius: 5px;
  border: 0px solid #d0baf5;
  padding: 2px;
  width: 70%;
  height: 15px;
  background-color: #8c7e8e;
}

.buttonDiv {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
app-close-button {
  position: relative;
  top: 6%;
  right: -94%;
  background-color: purple;
}
