section {
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  right: 0;
  top: 0;
  z-index: -1;
  height: 100svh;
  opacity: 0;
}
.active {
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  opacity: 1;
  z-index: 1;
  justify-content: flex-end;
  transition: opacity 1s ease;
}
article {
  width: 30%;
  background-color: rgba(119, 0, 139, 1);
}
.closeButton {
  display: flex;
  width: 100%;
}
.closeButton button {
  position: relative;
  margin-left: 10%;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.closeButton button:hover {
  cursor: pointer;
}
h1 {
  color: #fff;
  margin: 30px 20px 30px 0;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
form {
  width: 100%;
}

.inputDiv {
  width: 80%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}
label {
  color: #fff;
  font-size: 1rem;
  line-height: 19px;
}
input {
  border-radius: 5px;
  border: 1px solid #d0baf5;
  padding: 2px;
  width: 40%;
  height: 15px;
}
.buttonDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
