<section [ngClass]="{ active: isActive }">
  <article>
    <h1>Formularz</h1>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="dataForm">
        <div class="inputDiv">
          <label for="dateStart">Od:</label>
          <input type="date" id="dateStart" formControlName="dateStart" />
        </div>
        <div class="inputDiv">
          <label for="dateStop">Do:</label>
          <input type="date" id="dateStop" formControlName="dateStop" />
        </div>
      </div>
      <div class="fuelConditionDiv">
        <div class="fuelCondition" *ngFor="let items of petrol">
          <h2>{{ items }}:</h2>
          <div class="inputDiv" *ngFor="let item of dataStructure">
            <label for="{{ items + item }}">{{ item }}:</label>
            <input
              type="number"
              id="{{ items + item }}"
              formControlName="{{ items + item }}"
            />
          </div>
        </div>
      </div>
      <div class="buttonDiv">
        <app-button [buttonText]="'Zapisz'" [isActive]="true" type="onSubmit" />
      </div>
    </form>
  </article>
</section>

<!-- <div>
  <label for="dateStart">Od: </label>
  <input type="date" id="dateStart" formControlName="dateStart" />
</div>
<div>
  <label for="dateStop">Do: </label>
  <input type="date" id="dateStop" formControlName="dateStop" />
</div>
<div>
  <label for="ULG95MAX">Do: </label>
  <input type="number" id="ULG95MAX" formControlName="ULG95MAX" />
</div> -->
