section {
  width: 85%;
  min-height: 60svh;
  border: 1px solid #d0baf5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  margin-left: 7.5%;
}
.mainFrame {
  width: 85%;
  min-height: 65svh;
  background-color: rgba(119, 0, 139, 0.25);
  border-radius: 20px;
  display: flex;
}
.textFrame {
  margin: 30px;
  width: 50%;
  padding: 20px;
}
h1 {
  margin: 20px 0;
  font-size: 2rem;
  color: #ffffff;
}
span {
  background: -webkit-linear-gradient(
    left,
    #f1b7fa 0%,
    #bb69c9 38%,
    #77008b 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.imageDiv {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
}
.imageCont {
  margin-right: -30px;
  margin-bottom: -50px;
  width: 100%;
  min-width: 300px;
}
img {
  width: 100%;
}
