section {
  width: 100%;
  min-height: 60svh;
  border: 2px solid #d0baf5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.mainFrame {
  width: 70%;
  min-height: 65svh;
  background-color: #1b1329;
  border-radius: 20px;
  display: flex;
}
.textFrame {
  margin: 30px;
  width: 40%;
  padding: 10px;
}
h1 {
  margin: 20px 0;
  font-size: 2rem;
  color: #ffffff;
}
span {
  background: -webkit-linear-gradient(
    left,
    #d0baf5 0%,
    #9765e7 38%,
    #2c066a 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 20px;
}
.imageDiv {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.imageCont {
  margin-right: -30px;
  margin-bottom: -50px;
  width: 80%;
  min-width: 300px;
}
img {
  width: 100%;
}
