<section>
  <article class="checkboxArticle">
    <h2>Wybierz wyświetlane wykresy:</h2>
    <ul>
      <li>
        <input
          type="checkbox"
          id="dist"
          name="dist"
          value="dist"
          checked="true"
          (change)="onChange($event)"
        />
        <label for="dist">Wykres odległości</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="V"
          name="V"
          value="V"
          checked="true"
          (change)="onChange($event)"
        />
        <label for="V">Wykres prędkości</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="A"
          name="A"
          value="A"
          checked="true"
          (change)="onChange($event)"
        />
        <label for="A">Wykres przyśpieszenia</label>
      </li>
    </ul>
  </article>
  <article class="chartArticle">
    <div
      class="chartBox"
      [ngClass]="{ disactiveChart: showChart[0].show != true }"
    >
      <canvas id="canvas">{{ chart[0] }}</canvas>
      <app-change-form (FormEiit)="saveFormData($event, 0)" />
    </div>

    <div
      class="chartBox"
      [ngClass]="{ disactiveChart: showChart[1].show != true }"
    >
      <canvas id="canvas2">{{ chart[1] }}</canvas>
      <app-change-form (FormEiit)="saveFormData($event, 1)" />
    </div>
    <div
      class="chartBox"
      [ngClass]="{ disactiveChart: showChart[2].show != true }"
    >
      <canvas id="canvas3">{{ chart[2] }}</canvas>
      <app-change-form (FormEiit)="saveFormData($event, 2)" />
    </div>
  </article>
  <article class="buttonArticle">
    <div class="buttonBox">
      <app-run-button
        [isActive]="StartButton"
        [titleButton]="buttonName[0]"
        (click)="start()"
      />
      <app-run-button
        [isActive]="RestartButton"
        [titleButton]="buttonName[1]"
        (click)="restart()"
      />
      <app-run-button
        [isActive]="StopButton"
        [titleButton]="buttonName[2]"
        (click)="stop()"
      />
    </div>
  </article>
  <article class="descriptionArticle">
    <h4>
      Opis
      <app-show-button
        [text]="'rozwiń'"
        (isClick)="changeDescription($event)"
      />
    </h4>
    <aside [ngClass]="{ disactiveChart: !showDescription }">
      <p>
        Wykresy kolejno przedstawiają przemieszczenie i prędkość.
        Przemieszczenie otrzymujemy z analogowego czujnika przemieszczenia,
        którego sygnał został przetworzony na postać cyfrową. Prędkość i
        przyspieszenie otrzymujemy poprzez obliczenie pochodnej przemieszczenia.
      </p>
    </aside>
  </article>
</section>
