main {
  background-color: #1f0523;
  min-height: 95svh;
  padding: 0 10%;
}
section {
  width: 85%;
  min-height: 60svh;
  border: 1px solid #d0baf5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  margin-left: 7.5%;
}
.mainFrame {
  width: 85%;
  min-height: 65svh;
  background-color: rgba(119, 0, 139, 0.25);
  border-radius: 20px;
  display: flex;
}
.textFrame {
  margin: 30px 0 30px 30px;
  width: 90%;
  padding: 20px;
}
h1 {
  margin: 20px 0 40px;
  font-size: 2rem;
  color: #ffffff;
}
.abc {
  display: flex;
  margin: 20px 0;
}
h2 {
  color: #d0baf5;
  margin-right: 20px;
  font-size: 1.5rem;
}
h3 {
  color: #a9a6af;
  font-size: 1rem;
}
@media screen and (max-width: 800px) {
  main {
    padding: 0%;
  }
  section {
    width: 85%;
  }
  .mainFrame {
    width: 100%;
    margin: 0 5%;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .textFrame {
    margin: 0px;
    padding: 20px;
    width: 100%;
  }
  h1 {
    width: 100%;
    font-size: 1.5rem;
  }
  .abc {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    width: 90%;
  }
  h2 {
    margin-bottom: 20px;
  }
}
