<section>
  <div class="mainFrame">
    <div class="textFrame">
      <app-logo />
      <h1>Wprowadź dane</h1>
      <div class="abc">
        <h2>Wybierz plik:</h2>
        <app-button [isActive]="true" [buttonText]="'Kliknij tutaj'" />
      </div>
      <h3>lub</h3>
      <div class="abc">
        <h2>Wprowadź dane ręcznie:</h2>
        <app-button [isActive]="true" [buttonText]="'Kliknij tutaj'" />
      </div>
      <app-button [buttonText]="'Dalej > >'" [isActive]="false" />
    </div>
    <app-fuel-condition />
  </div>
</section>
