#inp {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  width: 200px;
  outline: none;
  cursor: pointer;
  background-color: #bb69c9;
  border: 0px solid;
  transition: 0.2s ease-in-out;
  font-size: 1rem;
  color: #fff;
  margin: 10px 0 10px 10px;
}

#inp:hover {
  background-color: #8c7e8e;
  transition: 0.2s ease-in-out;
}

#inp:focus {
  background-color: #8c7e8e;
  transition: 0.2s ease-in-out;
}
#wyb {
  font-size: 150%;
  color: white;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 2%;
}
@media screen and (max-width: 800px) {
  .chartBox {
    min-height: 500px;
  }
}
