h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
table {
  color: white;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid white;
}
.moreDeliver {
  color: red;
}
th {
  width: 20%;
  text-align: center;
  border: 1px solid white;
}

td {
  border: 1px solid white;
  text-align: center;
}
