header {
  height: 60px;
  padding: 40px 5%;
}
nav {
  display: flex;
  justify-content: center;
  align-content: center;
}
h1 {
  width: 100%;
  line-height: 70px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  color: #ffffff;
}
