header {
  height: 110px;
  padding: 40px 15%;
}
nav {
  display: flex;
  justify-content: center;
  align-content: center;
}
h1 {
  width: 100%;
  line-height: 70px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  color: #ffffff;
  font-size: 2rem;
}
svg {
  margin-top: 6px;
}
