section {
  margin-top: 60px;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.checkboxArticle {
  width: 100%;
}
ul {
  list-style: none;
}
li {
  margin-top: 10px;
}
label {
  margin-left: 2%;
}
label:hover {
  cursor: pointer;
}
h2 {
  font-size: 1em;
}
.chartArticle {
  margin-top: 30px;
  width: 80%;
}
.buttonArticle {
  width: 19%;
  padding-bottom: 200px;
}
.descriptionArticle {
  border-top: 2px solid #fff700;
  width: 100%;
  margin-bottom: 30px;
}
h3 {
  margin-top: 10px;
}
.chartBox {
  width: 100%;
  height: 80svh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
app-run-button {
  width: 80%;
}
.buttonBox {
  margin-top: 60px;
  top: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 50svh;
  position: sticky;
  justify-content: center;
  align-content: space-between;
}
aside {
  max-height: 500px;
  transition: all 0.45s cubic-bezier(0.44, 0.99, 0.48, 1);
}
.disactiveChart {
  overflow: hidden;
  max-height: 0;
  transition: all 0.45s cubic-bezier(0.44, 0.99, 0.48, 1);
}
h4 {
  margin-top: 30px;
  font-size: 2em;
}
p {
  font-size: 20px;
  margin-top: 20px;
}
