button {
  border-radius: 8px;
  padding: 8px 25px;
  background-color: #9765e7;
  border: 0px solid;
  transition: 0.2s ease-in-out;
  font-size: 24px;
  color: #fff;
}

.active {
  background-color: #a9a6af;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #2c066a;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
