form {
    color: white;
    margin: 0 0 10px 10px;
    font-size: 1rem;
}

form h3 {
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
}

form input {
    margin-left: 10px;
    border-radius: 8px;
    padding: 4px 15px;
    background-color: #bb69c9;
    border: 0px solid;
    transition: 0.2s ease-in-out;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

form input:hover {
    background-color: #8c7e8e;
    transition: 0.2s ease-in-out;
}

.second-label {
    margin-left: 10px;
}

button {
    margin-right: 10px;
    border-radius: 8px;
    padding: 4px 15px;
    background-color: #bb69c9;
    border: 0px solid;
    transition: 0.2s ease-in-out;
    font-size: 1rem;
    color: #fff;
}

button:hover {
    background-color: #8c7e8e;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.inputs {
    display: flex;
    justify-content: space-between;
}