main {
  background-color: #1f0523;
  min-height: 95svh;
  padding: 0 10%;
  margin-bottom: 30px;
}
section {
  width: 85%;
  min-height: 60svh;
  border: 1px solid #d0baf5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
  margin-left: 7.5%;
  flex-wrap: wrap;
  color: white;
}

div {
  width: 100%;
  background-color: #1f0523;
}

h1 {
  font-weight: 400;
  margin: 10px 0 15px 0;
}

.charts-contener {
  width: 80%;
  min-height: 70vh;
  background-color: rgba(187, 105, 201, 0.25);
  border-radius: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.charts-contener div {
  margin: 10%;
  border-radius: 15px;
}

.list {
 border: none;
 user-select: none;
 margin-bottom: 25px;
}

.list p {
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(208,186,245,0.57) 0%, rgba(27,19,41,0.57) 44%, rgba(44,6,106,0.57) 100%);
  font-size: larger;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.list ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  width: 79%;
}

.list li {
  border-bottom: solid 1px white;
  padding: 10px;
  background-color: rgba(208,186,245,0.1);
}

.list li:last-child {
  border: none
}

.list li:hover {
  background-color: #4f3d6d;
}

.active {
  display: block;
}

.no-active {
  display: none;
}